<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{getNaslov()}}
    </div>
    <div class='panel-body'>
        <div class = 'row'>
            <div class='col-md-2'>Unos teksta:
                <div class='col-md-4'>
                    <input [(ngModel)]='dinamickiTekst' type='text' />
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class='col-md-6'>
                <h3>Dinamicki iz komponente: {{dinamickiTekst}}</h3>
            </div>
        </div>
        <div class = 'table-responsive'>
            <table class = 'table' *ngIf='movies && movies.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                                (click)='prikaziLinkNaTabeli()'>

                                {{!prikaziLink ? 'Prikazi' : 'Sakrij'}} Link
                            </button>
                        </th>
                        <th>Movie name</th>
                        <th>Genre</th>
                        <th>Date released</th>
                        <th>Duration</th>
                        <th>rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let movie of movies'>
                        <td >
                            <a *ngIf='prikaziLink' [href] = 'movie.linkUrl'>{{movie.movieName + "-OMDB"}}</a>
                        </td>
                        <td>{{movie.movieName}}</td>
                        <td>{{movie.genre}}</td>
                        <td>{{movie.releaseDate | date:'dd.MM.yyyy'}}</td>
                        <td>{{movie.duration}}</td>
                        <td>{{movie.rating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>